<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\emirm\Desktop\C#\Projects\TournamentTracker\Data"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-H2RKG2I\SQLEXPRESS;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>